<p id="notice"><%= notice %></p>

<p>
  <strong>Deloption:</strong>
  <%= @deliveryoption.deloption %>
</p>

<%= link_to 'Edit', edit_deliveryoption_path(@deliveryoption) %> |
<%= link_to 'Back', deliveryoptions_path %>
